<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<form id="create" th:action="@{/patients/create}" method="post">
    <div class="form-group" >
        <input type="submit" value="Add a Patient" class="btn btn-success"/>
    </div>
</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
    </thead>

    <tr th:each="patient : ${patients}">
        <td th:text="${patient.id}"></td>
        <td th:text="${patient.patientName}"></td>
        <td th:text="${patient.age}"></td>
        <td th:text="${patient.gender}"></td>
        <td>
            <a th:href="@{/patients/edit/{id}(id=${patient.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/patients/delete/{id}(id=${patient.id})}">Delete</a>
        </td>
    </tr>

</table>

<nav>

    <ul class="nav" style="float:right;">
        <li class="nav-item"><a class="nav-link" href="/goback">Go Back To Main Menu</a></li>
    </ul>

</nav>
</body>
</html>